.org-info {
  .base-card-box {
    margin: 6px;
    transition: all 0.3s;
  }
  .info-item {
    padding: 12px 8px;
    display: flex;
    .info-label {
      min-width: 90px;
      font-weight: bold;
    }
    .info-box {
      margin-left: 6px;
      word-break: break-all;
    }
    .tag-label {
      cursor: pointer;
    }
  }
  .btn-edit {
    margin-top: 6px;
    float: right;
  }
  .avatar-item {
    float: right;
  }
}
