.show-name {
    margin: auto 6px;
    cursor: pointer;
}

.own-info {
    text-align: center;

    .top-info {
        display: flex;

        .card-avatar {

            .user-avatar {
                margin: 10px auto;
                width: 48px;
                border-radius: 50%;
            }

        }

        .card-content {
            flex-grow: 1;
            text-align: left;
            margin-left: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin-bottom: 0;
            }

            .user-name {
                vertical-align: middle;
                font-weight: bold;
                font-size: 16px;
            }

            .user-real-name {

                margin-top: 4px;
                font-size: 12px;
                color: rgb(175, 175, 175);
            }
        }

    }

    .user-old {
        margin: 4px;
        font-size: 14px;
        color: rgb(119, 119, 119);
    }

    .info-level {
        margin: 12px;
        text-align: center;

        .user-tag {
            margin-bottom: 10px;
        }
    }

    button {
        margin-top: 6px;
    }
}

.own-name {
    cursor: pointer;
}

.user-popover-box {
    min-width: 160px;
}
