.home {
  .ant-layout-sider {
    background: #fefefe;
  }
  .ant-layout-sider-trigger {
    background: #72ced3;
  }
  height: 100vh;
  .user-info {
    color: rgba(4, 31, 54, 0.76);
    margin: 5px 5px 20px 5px;
    text-align: center;
    font-size: 16px;
    .user-avatar {
      width: 68px;
      border-radius: 50%;
      margin: 10px 0 10px 0;
    }
  }

  .user-info-small {
    color: rgba(4, 31, 54, 0.76);
    margin: 5px 5px 20px 5px;
    text-align: center;
    font-size: 16px;
    .user-avatar {
      width: 48px;
      border-radius: 50%;
      margin: 10px 0 5px 0;
    }
    p {
      display: none;
    }
  }

  .logo {
    transition: all 0.5s;
    color: rgba(4, 31, 54, 0.76);
    margin: 16px;
    user-select: none;
    font-size: 28px;
    overflow: hidden;
    height: 44px;
    img {
      height: 32px;
      vertical-align: top;
      margin: 6px 16px 6px 6px;
      color: aliceblue;
    }
  }
}
