@import '~antd/dist/antd.less';
@primary-color: rgba(76, 194, 200, 0.774);

.comp-login {
  @card-color: rgba(76, 194, 200, 0.774);
  @card-color-hover: rgb(76, 194, 200);
  margin: 10px;

  .login-btn {
    margin-top: 25px;
    margin-bottom: 10px;
    background: @card-color;
    border-color: @card-color;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.089);
    &:hover,
    &:focus {
      background: @card-color-hover;
    }
  }

  .icon-color {
    color: @card-color;
  }

  .account-card {
    border-top: 5px solid @card-color;
    &:hover {
      border-top: 5px solid @card-color-hover !important;
    }
  }

  .card-title {
    .line {
      border-bottom: 3px solid @card-color;
    }
  }

  .login-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
  }
}
