.avatar-select {
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  .view {
    display: inline-block;
    .image-view {
      height: 100px;
      width: 100px;
      transition: all 0.3s;
      cursor: pointer;
      margin: 0 20px;
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}

.avatar-editor {
  float: left;
}
.avatar-control {
  height: 140px;
  padding: 10px 40px;
  margin: 10px;
  overflow: hidden;
  .btn-right {
    margin-top: 20px;
  }
}
