@import '../../../assets/style/variable.less';

.layout-login-main {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 48px;

    .login-form {
        width: 100%;

        .login-btn {
            margin-top: 48px;
            width: 240px;
        }
    }

    .auth-form {
        .auth-title {
            font-size: 32px;
            text-align: left;

            .developer-name {
                font-size: 26px;
                color: @mainColor;
            }

            margin-bottom: 4px;
        }

        .sub-title {
            font-size: 20px;
            text-align: left;
        }

        .error-title {
            font-size: 26px;

        }

        .checkbox-group {
            width: 100%;
            text-align: left;

            .checkbox-btn {
                margin-left: 8px;
                display: block;
                width: 100%;
                font-size: 18px;
                margin-bottom: 6px;
            }

            .auth-item-disable {
                cursor: not-allowed !important;
            }

            .auth-item-select {
                .item-text {
                    color: grey;
                }

                &:hover {
                    .auth-item-icon {
                        animation: rainbow .5s infinite;
                    }
                }
            }

            .auth-item-unselect {
                color: #c8c7ce;

                .item-text {
                    color: #c8c7ce;
                }

                &:hover {
                    .auth-item-icon {
                        animation: rainbow .5s infinite;
                    }
                }
            }

            .auth-item {
                display: flex;
                margin: 20px 12px;
                border-radius: 4px;
                transition: all .3s;
                cursor: pointer;


                .auth-item-icon {
                    display: flex;
                    align-items: center;
                    font-size: 26px;
                }

                .auth-checkbox {
                    flex-grow: 1;
                    font-size: 28px;
                    align-items: center;
                    justify-content: flex-end;
                    align-items: center;
                    display: flex;

                    i {
                        margin-right: 12px;
                    }
                }

                .auth-item-content {
                    margin-left: 20px;
                    line-height: inherit;

                    .item-title {
                        font-size: 16px;
                        margin-bottom: 0;
                        font-weight: bold;
                    }

                    .item-text {
                        margin: 2px;
                    }
                }
            }

        }

        .auth-btn {
            width: 180px;
            margin: 40px auto 20px auto;
            display: block;
        }

        .auth-time {
            margin-top: 20px;
        }
    }

}
