.auth-layout {
  padding: 50px 30px;
  min-width: 600px;
  max-width: 1080px;
  margin: auto;
  .auth-card {
    margin-top: 40px;
    text-align: right;
    button {
      margin-left: 20px;
    }
  }
  .auth-table {
    margin-top: 20px;
    .own-name {
      cursor: pointer;
    }
    p {
      strong {
        margin-right: 10px;
      }
    }
    .ca-icon {
      margin-left: 4px;
    }
    .ant-table-thead {
      th {
        background: #ffffff;
      }
    }
    .ant-table-tbody {
      td {
        background: #ffffff;
      }
    }
  }
  .control-icon {
    margin: auto 5px;
    transition: all 0.4s;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 20px;
    &:hover {
      transform: translateY(-1px);
    }
  }
  .app-icon {
    width: 30px;
    margin: 10px;
  }
  .app-name {
    color: #5f6874;
  }
}
