.auth-layout {
  padding: 60px;
  min-width: 600px;
  .top-layout {
    .top-text {
      border-left: 4px solid #71cdd2;
      padding-left: 10px;
      display: inline-block;
      p {
        margin-bottom: 3px;
      }
      .title {
        font-size: 24px;
      }
    }
  }
  .auth-control {
    margin-top: 30px;
    text-align: right;
    button {
      margin-left: 20px;
    }
  }
  .auth-table {
    margin-top: 20px;
  }
  .control-icon {
    margin: auto 5px;
    transition: all 0.4s;
    &:hover {
      color: rgb(207, 58, 58);
    }
  }
  .app-icon {
    width: 30px;
    margin: 10px;
  }
}
.own-info {
  text-align: center;
  .user-avatar {
    margin: 10px auto;
    width: 48px;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.2);
  }
  .user-name {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
  }
  .user-tag {
    margin-bottom: 10px;
  }
  p {
    padding: 6px;
    text-align: left;
    margin-bottom: 4px;
  }
}
