@import '../../assets/style/variable.less';

.app {
  min-height: 100vh;
  height: 1px; // a browser bug
  display: flex;

  .layout-transition {
    height: 100%;
  }

  .app-side {
    min-width: 300px;
    height: 100%;
    display: inline-block;
    width: 32%;
    background: @sideBackground;
    vertical-align: top;


    .layout-side {
      text-align: left;
      padding: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    a {
      color: @mainColor;
      font-weight: bold;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        font-size: 20px;
      }
    }

    .top-layout {
      text-align: center;
      margin: 16px auto;
      user-select: none;

      .logo {
        margin: 12px;
        height: 28px;
        width: 28px;
        vertical-align: middle;
      }

      .violet {
        font-size: 24px;
        color: @mainColor;
        vertical-align: middle;
        user-select: none;
      }
    }

    .title {
      text-align: center;
      margin: 0 auto 120px auto;
      font-size: 28px;
      font-weight: bold;
      color: @fontColor;
      flex-grow: 1;
      // 垂直居中
      display: flex;
      justify-content: center;
      flex-direction: column;

      .sub-title {
        font-size: 22px;
        font-weight: 400;
      }
    }

    .bottom-layout {
      .help-text {
        line-height: 32px;
      }

      .help-layout {
        padding: 30px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;


        .info-icon {
          margin: 0 10px;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.3);
        }
      }

      text-align: center;
    }
  }

  .app-main {
    min-width: 400px;
    flex-grow: 1;
    vertical-align: top;
    height: 100%;
    display: inline-block;
    background: @mainBackground;

    .next-item {
      text-align: left;

      button {
        margin-top: 36px;
      }

      .next-btn {
        float: right;
      }
    }
  }
}
