.login-layout {
    .login-form {
        margin: auto 6vw;
        text-align: left;

        .login-item {
            margin: 12px auto;
        }
        .login-btn {
            width: 120px;
            display: block;
            margin:  12px auto;
        }
        .reset-btn {
            float: right;
        }
        .login-checkbox {
            font-size: 14px;
        }
    }
}
