.app-setting {
  .setting-item {
    margin: 20px;
    .item-title {
      font-weight: bold;
      font-size: 16px;
    }
    .item-more {
      min-width: 300px;
      display: inline-block;
      height: 30px;
      vertical-align: sub;
    }
    .item-control {
      margin-left: 30px;
      display: inline-block;
      .status-label {
        margin-left: 10px;
        font-weight: bold;
      }
      .status-running {
        color: rgb(15, 146, 37);
      }
      .status-stop {
        color: rgb(184, 84, 17);
      }
    }
  }
}
