@import "@/assets/style/variable";

.login-layout {
  background-color: $color-card-background;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 4px;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
  width: 360px;

  .title {
    color: $color-text-primary;
    font-weight: bold;
    font-size: 18px;
    margin: 4px;
  }

  .sub-title {
    color: $color-text-second;
    font-size: 14px;
    margin: 4px;
  }

}